body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 6px 15px;
    background-color: #1F2937;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: gray;

}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}