body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px 15px;
    background-color: #1F2937;
    color: white;
    padding: 20px;
}

.logo {
    font-weight: bolder;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}

.first-section {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    gap: 48px;
    background-color: #1F2937;
    
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 400px;
    align-items: flex-start;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left-content p {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    flex-basis: 30px;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.card img {
    border: 5px solid #3882F6;;
    border-radius: 16px;
    width: 100%;
}

.card p {
    text-align: center;
}

.third-section {
    display: flex;
    background-color: #e5e7e5;
    flex-direction: column;
    align-items: center;
    padding: 100px 350px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.fourth-section {
    display: flex;
    padding: 100px 300px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    box-sizing: border-box;
    flex: 1;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px;
}

.banner-text-section {
    color: #F9FAF8;
}

.banner-title {
    font-weight: 700;
    margin: 0;
    font-size: 20px;
}

.banner-second {
    margin: 5px 0px;
}

.banner-button-section button{
    border: 3px solid white;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}